div.vertical-line {
  border-left: 2px solid black;
  height: 95px;
  position: absolute;
  left: 155px;
  top: 1400px;
  transform: translateY(90deg);
}

div.vertical-line2 {
  border-left: 2px solid rgb(179, 179, 179);
  height: 148px;
  position: absolute;
  left: 155px;
  top: 1400px;
  transform: translateY(90deg);
}
